extends ../common 
block common
        .container
            h2 Customer Orders
            h5= "Oders for" + customer.first_name + " " + customer.last_name
            h6= customer.location
            h6= customer.city + " " + customer.state
            table.table.table-striped.table-bordered(style="text-align: left")
                thead.bg-primary
                    tr
                        th Product
                        th Date
                        th Quantity
                        th Unit Price
                        th Total
                tbody
                    each product in products
                        tr
                            td= product.name
                            td= product.date
                            td= product.quantity
                            td= "$" + product.unitPrice
                            td= "$" + Math.round(product.quantity * product.unitPrice * 100) / 100
                    tr
                        td(colspan=4)
                        td= "$" + total
                    



        